
body {
    margin: 0 auto;
    font: 14px/19px 'Lucida Grande', sans-serif;
    background-color: white;
}
#container {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
}
#canvas {
    position: fixed;
    display: inline-block;
}

#mickey {
    position: fixed;
    top: 60vh;
    left: 0;
    z-index: 9999;

    width: 20vw;
    height: 25vh;
}

#princess {
    position: fixed;
    top: 65vh;
    right: 0;
    z-index: 9999;

    width: 20vw;
    height: 20vh;
}

#proposal {
    display: none;
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

#artfont {
    position: fixed;
    top: 20vh;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.box{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 15vh;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
    background: transparent;
}

.track{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}
.child{
    line-height: 20px;
    margin-bottom: 10px;
    transform: translateX(1100px);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1)
}
.child-1{
    color: brown;
    text-shadow: 2px 2px 3px rgb(248, 81, 20);
    transform: translateX(1000px);
    animation: scrollTo linear 4s infinite
}
.child-2{
    color: rgb(127, 197, 35);
    text-shadow: 2px 2px 3px rgb(173, 255, 80);
    transform: translateX(1050px);
    animation: scrollTo linear 7s infinite
}
.child-3{
    color: coral;
    text-shadow: 2px 2px 3px coral;
    transform: translateX(800px);
    animation: scrollTo linear 5s infinite
}
.child-4{
    color: pink;
    transform: translateX(1000px);
    animation: scrollTo linear 3s infinite
}
.child-5{
    color: white;
    transform: translateX(1000px);
    animation: scrollTo linear 9s infinite
}
.child-6{
    color: hotpink;
    transform: translateX(1000px);
    animation: scrollTo linear 10s infinite
}
@keyframes scrollTo {
    to{
        transform: translateX(-100px);
    }
}